<div class="panel panel-default tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#about" role="tab" data-toggle="tab"><%= t(:'hyrax.pages.tabs.about_page') %></a>
    </li>
    <li>
      <a href="#help" role="tab" data-toggle="tab"><%= t(:'hyrax.pages.tabs.help_page') %></a>
    </li>
    <li>
      <a href="#faq" role="tab" data-toggle="tab"><%= t(:'hyrax.pages.tabs.faq_page') %></a>
    </li>
    <li>
      <a href="#takedown" role="tab" data-toggle="tab"><%= t(:'hyrax.pages.tabs.takedown_page') %></a>
    </li>
    <li>
      <a href="#search_tips" role="tab" data-toggle="tab"><%= t(:'hyrax.pages.tabs.search_tips_page') %></a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="about" class="tab-pane active">
      <div class="panel panel-default labels">
        <%= simple_form_for ContentBlock.for(:about), url: hyrax.page_path(ContentBlock.for(:about)) do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label :about %><br>
                <%= f.text_area :about, value: f.object.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to t(:'hyrax.pages.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default'%>
            <%= f.button :submit, class: 'btn btn-primary'%>
          </div>
        <% end %>
      </div>
    </div>
    <div id="help" class="tab-pane">
      <div class="panel panel-default labels">
        <%= simple_form_for ContentBlock.for(:help), url: hyrax.page_path(ContentBlock.for(:help)) do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label :help %><br>
                <%= f.text_area :help, value: f.object.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to t(:'hyrax.pages.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default'%>
            <%= f.button :submit, class: 'btn btn-primary'%>
          </div>
        <% end %>
      </div>
    </div>
    <div id="faq" class="tab-pane">
      <div class="panel panel-default labels">
        <%= simple_form_for ContentBlock.for(:faq), url: hyrax.page_path(ContentBlock.for(:faq)) do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label :faq %><br>
                <%= f.text_area :faq, value: f.object.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to t(:'hyrax.pages.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default'%>
            <%= f.button :submit, class: 'btn btn-primary'%>
          </div>
        <% end %>
      </div>
    </div>
    <div id="takedown" class="tab-pane">
      <div class="panel panel-default labels">
        <%= simple_form_for ContentBlock.for(:takedown), url: hyrax.page_path(ContentBlock.for(:takedown)) do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label 'Take down' %><br>
                <%= f.text_area :takedown, value: f.object.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to t(:'hyrax.pages.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default'%>
            <%= f.button :submit, class: 'btn btn-primary'%>
          </div>
        <% end %>
      </div>
    </div>
    <div id="search_tips" class="tab-pane">
      <div class="panel panel-default labels">
        <%= simple_form_for ContentBlock.for(:'search_tips'), url: hyrax.page_path(ContentBlock.for(:'search_tips')) do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label :'Search tips' %><br>
                <%= f.text_area :'search_tips', value: f.object.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to t(:'hyrax.pages.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default'%>
            <%= f.button :submit, class: 'btn btn-primary'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
