<tr class="<%= dom_class(member) %> attributes">
  <td>
    <%= render 'curation_concerns/object_resources/component_thumbnail', member: member %>
    <%#= render_thumbnail_tag member %>      
  </td>
  <td class="attribute title">    
    <%= render_member_attribute :member, member, type: 'title' %>    
  </td>
  <td class="attribute filename">
    <%= render_member_attribute :member, member, type: 'filename' %>
  </td>
  <td class="attribute permission">
    <%= render_member_attribute :member, member, type: 'permission' %>    
  </td>
  <td>
    <%= render 'actions', member: member %>
  </td>
</tr>