<h1><%= t('pages.edit.title') %></h1>

<%# render 'form', submit_button: 'save' %>
<%= form_for @page do |f| %>
  <p>
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </p>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body, size: '70x30' %>
  </p>
  <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
  <script>CKEDITOR.replace('page_body')</script>

  <%= f.submit t('pages.save_page'), class: "btn btn-primary" %>
  <%= link_to t('pages.view_page'), view_page_path(@page.slug), class: "btn btn-primary" %>
  <%= link_to t('pages.page_list'), pages_path, class: "btn btn-primary" %>
<% end %>