<h1><%= t('pages.new.title') %></h1>
<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> <%= t('pages.new.error_message') %></h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, size: '70x30' %>
  </div>
  <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
  <script>CKEDITOR.replace('page_body')</script>

  <br/>
  <%= f.submit t('pages.create_page'), class: "btn btn-primary" %>
  <%= link_to t('pages.page_list'), pages_path, class: "btn btn-primary" %>
<% end %>