<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('pages.slug') %></strong>
  <%= @page.slug %>
</p>

<p>
  <strong><%= t('pages.title') %></strong>
  <%= @page.title %>
</p>

<p>
  <strong><%= t('pages.body') %></strong>
  <%= @page.body %>
</p>

<%= link_to t('pages.edit_page'), edit_page_path(@page) %> |
<%= link_to t('pages.page_list'), pages_path %>