<% if user_signed_in? %>
  <ul class="nav navbar-nav">
    <li class="dropdown">
        <%= link_to hyrax.dashboard_works_path, role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do %>
          <span class="fa fa-cube"></span> Browse By <span class="caret"></span>
        <% end %>
      <%= render 'shared/add_browsing' %>
    </li>

    <% if current_ability.can_create_any_work? %>
      <li class="dropdown">
        <%= link_to hyrax.dashboard_works_path, role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do %>
          <span class="fa fa-cube"></span> <%= t("hyrax.toolbar.works.menu") %> <span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu">
          <li><%= link_to t("hyrax.toolbar.works.my"), hyrax.dashboard_works_path %></li>
          <li>
          <% if create_work_presenter.many? %>
            <%= link_to(
                  t("hyrax.toolbar.works.new"),
                  '#',
                  data: { toggle: "modal", target: "#worktypes-to-create" },
                  class: "item-option contextual-quick-classify",
                  role: 'menuitem'
                ) %>
          <% else %>
            <%= link_to(
                  t("hyrax.toolbar.works.new"),
                  new_polymorphic_path([main_app, create_work_presenter.first_model]),
                  class: "item-option contextual-quick-classify",
                  role: 'menuitem'
                ) %>
          <% end %>
          </li>
          <li><%= link_to t("batch_import.title"), '/batch_import/new' %></li>
        </ul>
      </li>
    <% end %>

    <% if can?(:create, Collection) %>
      <li class="dropdown">
        <%= link_to hyrax.dashboard_collections_path, role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do %>
          <span class="<%= Hyrax::ModelIcon.css_class_for(Collection) %>"></span> <%= t("hyrax.toolbar.collections.menu") %> <span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu">
          <li><%= link_to t("hyrax.toolbar.collections.my"), hyrax.dashboard_collections_path %></li>
          <li><%= link_to t("hyrax.toolbar.collections.new"), hyrax.new_collection_path %></li>
        </ul>
      </li>
    <% end %>

    <% if current_ability.can_create_any_work? %>
      <li class="dropdown">
        <%= link_to hyrax.dashboard_works_path, role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do %>
          <span class="fa fa-cube"></span> Authorities <span class="caret"></span>
        <% end %>
      <%= render 'shared/add_authorities' %>
      </li>
    <% end %>

    <li class="dropdown">
        <%= link_to hyrax.help_path, role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do %>
          <span class="fa fa-cube"></span> Help <span class="caret"></span>
        <% end %>
      <%= render 'shared/add_help' %>
    </li>
          
  </ul>
<% end %>
